h1{
    font-size: 40px;
    text-align: center;
    color: chocolate;
    padding: 1%;
}
body{
    position: relative;
    background: #d3f5f7;
}
.sun-moon img{
    height: 250px;
}
.sun{
    position: absolute;
    top: 100px;
    left: 50%;
}
.moon{
    position: absolute;
    top: 100px;
    left: -50%
}
.road{
    position: absolute;
    top: 400px;
    left: 0;
}
.road img{
    width: 100%;
}
.car2{
    position: absolute;
    top: 900px;
    left: 0;
    height: 150px;
}
.redcar{
    position: absolute;
    top: 900px;
    right: 0;
    height: 150px;
}