h1{
    font-size: 40px;
    text-align: center;
    color: chocolate;
    padding: 1%;
}
body{
    position: relative;    
    background: #a9e4f9;
    animation:colorchange 15s infinite alternate;    
}
@-webkit-keyframes colorchange{
    0% {background-color: #a9e4f9;}
    25% {background-color: #7cceeb;}
    50% {background-color: #34778f;}
    75% {background-color: #184f63;}
    100% {background-color: #000000;}
 }
.sun-moon img{
    height: 250px;
    
}
.sun{
    position: absolute;
    top: 150px;
    right: -10%;
    animation: mymovesun 25s infinite ease; 
   
}
@-webkit-keyframes mymovesun{
    from {right: -10%;}
     to {right: 140%;}
 }
.moon{
    position: absolute;
    top: 150px;
    right: -10%;
    animation: mymovemoon 25s infinite ease;
    animation-delay: 11s;
}
@-webkit-keyframes mymovemoon{
    from {top:150px; right: -10%;}
     to {top:150px; right: 140%;}
 }
 /* @-webkit-keyframes mymovemoon{
    0% {right:-50%}
    25% {right:-25%;}
    to{ right:100%}
 } */

.road{
    position: absolute;
    top: 400px;
    left: 0;
}
.road img{
    width: 100%;
}
.cars img{
    height: 150px;
}
.car2{
    position: absolute;
    top: 950px;
    left: 0;
    animation: mymovecar2 10s infinite alternate;
}
@-webkit-keyframes mymovecar2{
    from {left:0;}
     to {left: 90%;}
 }
.redcar{
    position: absolute;
    top: 1105px;
    right: 0;
    animation: mymovecar 10s infinite alternate;
}
@-webkit-keyframes mymovecar{
    from {right:0;}
     to {right: 90%;}
 }