html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}

h1{
    font-size: 40px;
    text-align: center;
    color: chocolate;
    padding: 1%;
}

.main{
    position: relative;
    height: 100%;
    width: 100%;
    background: #a9e4f9;
    animation:colorchange 20s infinite;    
}

 @-webkit-keyframes colorchange{
    0%{ background-color: #34778f;}
    10%{background-color: #50abcc;}
    20%{background-color: #56bde2;}
    30%{background-color: #74cff0;}
    40%{background-color: #4f9db9;}
    50%{background-color: #275263;}
    60%{background-color: #0f1c22;}
    70%{background-color: #102025;}
    80%{background-color: #020405;}
    90%{background-color: #285363;}
    100%{background-color: #3a778d;}
 }

.sun-moon img{
    height: 250px;
    
}
.sun{
    position: absolute;
    top: 150px;
    right: -20%;
    animation: mymovesun 20s infinite linear; 
   
}
@-webkit-keyframes mymovesun{
    from {right: -20%;}
     to {right: 240%;}
 }
.moon{
    position: absolute;
    top: 150px;
    right: -20%;
    animation: mymovemoon 20s infinite linear;
    animation-delay: 10s;
}
@-webkit-keyframes mymovemoon{
    from {top:150px; right: -20%;}
     to {top:150px; right: 240%;}
 }

.road img{
    position:absolute;
    top:45px;
    left:0;
}
.butterflies img{
    height: 40px;
}
.butterfly1{
    position: absolute;
    top: 230px;
    left: 200px;
    animation: fly1 11s ease infinite;
}
@-webkit-keyframes fly1{
    0%   {left: 200px; top:230px;}
    5%   {left: 190px; top:250px;}
    10%  {left: 185px; top:260px;}
    15%  {left: 175px; top:265px;}
    20%  {left: 165px; top:275px;}
    25%  {left: 150px; top:285px;}
    30%  {left: 145px; top:290px;}
    35%  {left: 155px; top:280px;}
    40%  {left: 165px; top:265px;}
    45%  {left: 170px; top:250px;}
    50%  {left: 175px; top:235px;}
    55%  {left: 180px; top:225px;}
    60%  {left: 185px; top:215px;}
    65%  {left: 190px; top:200px;}
    70%  {left: 180px; top:190px;}
    75%  {left: 165px; top:185px;}
    80%  {left: 170px; top:170px;}
    85%  {left: 185px; top:180px;}
    90%  {left: 190px; top:195px;}
    95%  {left: 195px; top:210px;}
    100% {left: 200px; top:230px;}
}
.butterfly2{
    position: absolute;
    top: 270px;
    left: 300px;
    animation: fly2 9s ease-in infinite;
}
@-webkit-keyframes fly2{
    0%   {left: 300px; top:270px;}
    5%   {left: 290px; top:280px;}
    10%  {left: 285px; top:290px;}
    15%  {left: 280px; top:300px;}
    20%  {left: 275px; top:310px;}
    25%  {left: 270px; top:285px;}
    30%  {left: 260px; top:270px;}
    35%  {left: 250px; top:260px;}
    40%  {left: 245px; top:250px;}
    45%  {left: 230px; top:245px;}
    50%  {left: 220px; top:240px;}
    55%  {left: 200px; top:235px;}
    60%  {left: 210px; top:230px;}
    65%  {left: 220px; top:215px;}
    70%  {left: 230px; top:225px;}
    75%  {left: 240px; top:235px;}
    80%  {left: 250px; top:250px;}
    85%  {left: 265px; top:260px;}
    90%  {left: 280px; top:265px;}
    95%  {left: 290px; top:265px;}
    100% {left: 300px; top:270px;}
}
.butterfly3{
    position: absolute;
    top: 190px;
    left: 345px;
    animation: fly3 7s ease-in-out infinite;
}
@-webkit-keyframes fly3{
    0%   {left: 345px; top:190px;}
    5%   {left: 340px; top:160px;}
    10%  {left: 325px; top:130px;}
    15%  {left: 310px; top:100px;}
    20%  {left: 300px; top:105px;}
    25%  {left: 290px; top:110px;}
    30%  {left: 270px; top:115px;}
    35%  {left: 255px; top:120px;}
    40%  {left: 240px; top:125px;}
    45%  {left: 230px; top:135px;}
    50%  {left: 215px; top:140px;}
    55%  {left: 220px; top:125px;}
    60%  {left: 225px; top:130px;}
    65%  {left: 230px; top:145px;}
    70%  {left: 235px; top:160px;}
    75%  {left: 240px; top:170px;}
    80%  {left: 245px; top:175px;}
    85%  {left: 260px; top:180px;}
    90%  {left: 280px; top:185px;}
    95%  {left: 300px; top:200px;}
    100% {left: 345px; top:190px;}
}
.butterfly4{
    position: absolute;
    top: 260px;
    left: 400px;
    animation: fly4 5s ease-out infinite;
    
}
@-webkit-keyframes fly4{
    0%   {left: 400px; top:260px;}
    5%   {left: 420px; top:255px;}
    10%  {left: 535px; top:250px;}
    15%  {left: 550px; top:245px;}
    20%  {left: 560px; top:240px;}
    25%  {left: 580px; top:235px;}
    30%  {left: 590px; top:230px;}
    35%  {left: 600px; top:225px;}
    40%  {left: 610px; top:220px;}
    45%  {left: 620px; top:235px;}
    50%  {left: 630px; top:250px;}
    55%  {left: 635px; top:240px;}
    60%  {left: 640px; top:230px;}
    65%  {left: 545px; top:225px;}
    70%  {left: 580px; top:230px;}
    75%  {left: 565px; top:235px;}
    80%  {left: 550px; top:240px;}
    85%  {left: 535px; top:245px;}
    90%  {left: 520px; top:250px;}
    95%  {left: 510px; top:260px;}
    100% {left: 500px; top:260px;}
}

.butterfly5{
    position: absolute;
    top: 200px;
    left: 500px;
    animation: fly5 3s ease-out infinite;
    
}
@-webkit-keyframes fly5{
    0%   {left: 500px; top:200px;}
    5%   {left: 515px; top:210px;}
    10%  {left: 520px; top:220px;}
    15%  {left: 525px; top:230px;}
    20%  {left: 530px; top:240px;}
    25%  {left: 535px; top:250px;}
    30%  {left: 540px; top:260px;}
    35%  {left: 550px; top:270px;}
    40%  {left: 560px; top:275px;}
    45%  {left: 570px; top:280px;}
    50%  {left: 580px; top:285px;}
    55%  {left: 590px; top:290px;}
    60%  {left: 600px; top:280px;}
    65%  {left: 590px; top:270px;}
    70%  {left: 580px; top:260px;}
    75%  {left: 565px; top:250px;}
    80%  {left: 550px; top:240px;}
    85%  {left: 535px; top:230px;}
    90%  {left: 520px; top:220px;}
    95%  {left: 510px; top:210px;}
    100% {left: 500px; top:200px;}
}
.cars img{
    height: 150px;
}
.car2{
    position: absolute;
    top: 950px;
    left: 0;
    animation: mymovecar2 10s infinite alternate;
}
@-webkit-keyframes mymovecar2{
    from {left:0;}
     to {left: 90%;}
 }
.redcar{
    position: absolute;
    top: 1105px;
    right: 0;
    animation: mymovecar 10s infinite alternate;
}
@-webkit-keyframes mymovecar{
    from {right:0;}
     to {right: 90%;}
 }
